<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dati restituiti dal form</title>
</head>
<body>
	<!--<h1>Elenco dei campi</h1>
	<p th:text= "'Nome Inserito: ' + ${formutente.nome}" />
	<p th:text= "'Cognome inserito: ' + ${formutente.cognome}" />
	<p th:text= "'Email inserita: ' + ${formutente.email}" />
	<p th:text= "'password inserita: ' + ${formutente.password}" />
	<p th:text= "'verifica password inserita: ' + ${formutente.vpassword}" />
	<p th:text= "'Single Checkbox Value: ' + ${formutente.privacy}" />
	-->
	<!--<p th:text="'La registrazione dell'utente ' + ${formutente.email} +' è avvenuta con successo'"/>-->
	<span th:if="${#lists.isEmpty(myList)}">Non ci sono ancora utenti registrati</span>


	<span th:unless="${#lists.isEmpty(myList)}"><h1>Elenco degli utenti gi&agrave; registrati:</h1>
		La registrazione dell'utente &egrave; avvenuta con successo.

	<a href="/register">Registra un nuovo utente</a>
		</span>
	<ul th:each="user : ${myList}">
		<li th:text="${user.email}"></li>
	</ul>



    
</body>
</html>