<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<meta charset="ISO-8859-1">
<title>Form utente</title>
</head>
<body>
	<h1>Form di registrazione</h1>
	<form action="#" th:action="@{/register}" th:object="${formutente}" method="post">
   		<p>Nome: <input type="text" th:field="*{nome}" /></p>
   		<p>Cognome: <input type="text" th:field="*{cognome}" /></p>
   		<p>email: <input type="text" th:field="*{email}" /></p>
   		<p>password: <input type="text" th:field="*{password}" /></p>
   		<p>verifica password: <input type="text" th:field="*{vpassword}" /></p>
   	 	<div>
   			<label th:for="privacy" th:text="'Conferma privacy:'"></label>
   			<input type="checkbox" th:field="*{privacy}" />
		</div>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /> </p>
	</form>
	
    
</body>
</html>